extends layout

block content
    .container
      md-toolbar
        .md-toolbar-tools
          h1
            span Crate
          span(flex='')
          md-button.md-raised(href="/login") Login
          md-button.md-raised(href="/register") Register