doctype html
html(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  head
    title Crate
    link(rel="shortcut icon" href="/images/favicon.ico" )
    link(rel='stylesheet', type='text/css' ,href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', type='text/css' , href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

  body

    block content

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/javascripts/jquery-1.12.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='javascripts/bootstrapValidator.min.js')

    //My JavaScript
    script(src='/javascripts/script.js')
    // Dropzone.js
    script(src='/javascripts/dropzone.js')
    //upload.js
    script(src='/javascripts/upload.js')

    block script
    