html(lang='en')
  head
    // Angular Material style sheet
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/dropzone.css')
  body(ng-app='Crate', ng-controller="AppCtrl")

    block content
    
    // Angular Material requires Angular.js Libraries
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js')
    // Angular Material Library
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js')
    //My JavaScript
    script(src='/javascripts/script.js')
    // Dropzone.js
    script(src='/javascripts/dropzone.js')
    //upload.js
    script(src='/javascripts/myupload.js')
    