extends layout

block content
			div(layout='row', layout-align="center")
				div(flex='40')
					md-toolbar
						h2.md-toolbar-tools
							span Login
					form(name='registrationForm', action='/login', method='POST')
						
						md-input-container.md-block
							label User Name
							input(required='', name='username', ng-model='username')
							div(ng-messages='registrationForm.username.$error')
								div(ng-message='required') This is required.

						md-input-container.md-block
							label Password
							input(required='', name='password', ng-model='password', type='password')
							div(ng-messages='registrationForm.password.$error')
								div(ng-message='required') This is required.
						div(style="display:flex")
							button.md-button.md-raised.md-primary(type="submit")
								| Submit
							md-button.md-button.md-raised.md-accent(href="/")
								| Cancle

					if(message)
						h3 Error: #{message}

