extends layout

block content
    .container-fluid
      #navbar-div.page-header
        nav#navbar-nav.navbar
          .container-fluid
            .navbar-header
              a#navbar-title.navbar-brand(href='/') Crate
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/login') Login
      .row.row-centered
        .col-xs-6.col-md-4.col-centered.content-center
          h2.mycenter Register as User
          a.btn.btn-primary(href='/userregister', role='button')  Register 
        .col-xs-6.col-md-4.col-centered.content-center
          h2 Register as Moderator
          a.btn.btn-primary(href='/moderatorregister', role='button')  Register 
