extends layout

block content

  if(isModerator)
    .container-fluid
        nav.navbar
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              a#navbar-title.navbar-brand(href='/') Crate
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/upload') Upload File
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Welcome, #{username}  
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/logout') Log Out
      .row.row-centered
        .col-md-6.col-centered
          .page-header
            h2 Upload Crate
            form(action='/upload', method='POST' id='fileupload' ,name='fileupload', enctype="multipart/form-data", class="dropzone")
  if(isUser)
    p You cannot Upload files 
      a(href="/") Go Back

  if(isAdmin)
    .container-fluid
        nav.navbar
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              a#navbar-title.navbar-brand(href='/') Crate
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/upload') Upload File
                li
                  a(href='/uploadslist') Uploads
                li
                  a(href='#') Downloads
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Welcome, #{username}  
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/logout') Log Out
      .row.row-centered
        .col-md-6.col-centered
          .page-header
            h2 Upload Crate
            form(action='/upload', method='POST' id='fileupload' ,name='fileupload', enctype="multipart/form-data", class="dropzone")


      