extends layout

block content

  if(isModerator)
    .container-fluid
      #navbar-div.page-header
        nav#navbar-nav.navbar
          .container-fluid
            .navbar-header
              a#navbar-title.navbar-brand(href='/') Crate
      .row.row-centered
        .col-md-6.col-centered
          .page-header
            h2 Upload Crate
            form(action='/upload', method='POST' id='fileupload' ,name='fileupload', enctype="multipart/form-data", class="dropzone")
  if(isUser)
    p You cannot Upload files 
      a(href="/") Go Back