<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

</head>
<body ng-app="Registraion" ng-cloak>
  <!--
    Your HTML content here
  -->
  <div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
      <div class="md-toolbar-tools">
        <h1>
          <span>Registration</span>
        </h1>
      </div>
    </md-toolbar>

    <div layout="row" layout-padding layout-wrap style="padding-bottom: 20px;" ng-cloak>

      <div flex="50">
        <md-whiteframe class="md-whiteframe-5dp" flex="33"  layout layout-align="center center">
          <span align="center"> 
            <h1> Register as a User</h1>
            <md-button class="md-primary md-raised" ng-href="/userregister" >Register</md-button>
          </span>
        </md-whiteframe>
      </div>

      <div flex="50">
          <md-whiteframe class="md-whiteframe-5dp" flex="33" layout layout-align="center center">
            <span align="center"> 
              <h1>Register as a Moderator</h1>
              <md-button class="md-primary md-raised" ng-href="/moderatorregister">Register</md-button>
            </span>
          </md-whiteframe>
      </div>

    </div>

  </div>
    
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('Registraion', ['ngMaterial'])
    .config(function($mdThemingProvider) {
    $mdThemingProvider.theme('default')
    .primaryPalette('indigo')
    .accentPalette('pink');
});
  </script>
  
</body>
</html>

